@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

h3{
    color: white;
   font-weight: 900;
   font-size: 35px;
}
.container{
   display: flex;
   gap:1rem;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   background-color: rgb(10, 10, 10);
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

#canvas{
    border: 1px solid black;
    /* font: 'Press Start 2P'; */
}

 .swal2-title{
    color: #fa0101 !important;
}

@media (max-width:767px) {
    
h3{
    color: white;
   font-weight: 800;
   font-size: 20px;
}
    #canvas{
        width: 400px;
        height: 450px;
        /* height: 200px; */
    }
}